$colorPink:#FF1493;
$colorBlack:#000000;
$colorWhite:#FFFFFF;
$colorDarkPink:#201020;
$colorDarkDarkPink :#371037;
.wallpaper-notfound{
    width: 100%;
    height: 620px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('https://cdn.wallpapersafari.com/76/87/NYR64G.jpg');
}
.wallpaper-notfound h1{
    text-align: center;
    padding-top: 80px;
    color: $colorWhite ;
}