.wallpaper-text{
    padding: 50px;
    h1{
        color: white;
        font-size:40px;
        -webkit-text-stroke: 1px black; 
    }
    h6{
        color: white;
        font-size:18px;
        -webkit-text-stroke: 1px black; 
    }
}